# this is the name of the environment
mlh-portfolio

# By-product of the sql wizardry
flask.sqlite

# Cache nonesense.
__pycache__
*.pyc

# Virtual environment shenanigans
.venv
python3-virtualenv
app/__pycache__/__init__.cpython-36.pyc
